<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="image">
                <img src="./../../../assets/images/user2.jpg" class="img-circle" style="align-items: center">
            </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
            <li><a [routerLink]="['face']" ><i class="fa fa-user"></i> <span>Rostro</span></a></li>
            <li><a [routerLink]="['eyes']"><i class="fa fa-eye"></i> <span>Ojos</span></a></li>
            <li><a [routerLink]="['lips']"><i class="fa fa-heart"></i> <span>Labios</span></a></li>
            <li><a [routerLink]="['cart']"><i class="fa fa-shopping-cart"></i> <span>Carrito de compras</span></a></li>
            <li><a [routerLink]="['orders']"><i class="fa fa-clipboard-check"></i> <span>Pedidos</span></a></li>
        </ul>
    </section>
  </aside>
