<div *ngIf="productsOrder.length === productsOrder.length">
  <div *ngFor="let item of productsOrder; index as i;">
    <section class="content" style="padding: 0px; min-height: 0">
      <div class="row">
        <div class="col-xs-12">
          <div class="box" style="margin: 0">
            <div class="box-header with-border">
              <h3 class="box-title">{{ products[i].name }}</h3>
            </div>
            <div class="box-body table-responsive">
              <table class="table table-bordered">
                <tr>
                  <th>Identificacion</th>
                  <th>Precio</th>
                  <th>Cantidad comprada</th>
                  <th>Total Compra</th>
                </tr>
                <tr>
                  <td>
                    <div class="media">
                      <div class="media-left">
                        <a href="" class="ad-click-event">
                          <img [src]="products[i].imgUrl" alt="ArchitectUI Vue.js Admin Template" class="media-object"
                            style="
                            width: 150px;
                            height: auto;
                            border-radius: 4px;
                            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
                          " />
                        </a>
                      </div>
                    </div>
                  </td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.total }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
