<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
          <div class="image">
              <img src="./../../../assets/images/user.jpeg" class="img-circle" alt="User Image" style="align-items: center">
          </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
          <li><a [routerLink]="['/visitor/face']" ><i class="fa fa-user"></i> <span>Rostro</span></a></li>
          <li><a [routerLink]="['/visitor/eyes']"><i class="fa fa-eye"></i> <span>Ojos</span></a></li>
          <li><a [routerLink]="['/visitor/lips']"><i class="fa fa-heart"></i> <span>Labios</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
