<div *ngFor="let item of eyesProducts">
  <div class="box-body">

    <h4 style="
        background-color: #f7f7f7;
        font-size: 18px;
        text-align: center;
        padding: 7px 10px;
        margin-top: 0;
        font-weight: bold;
      ">
      {{ item.name }}
    </h4>
    <div class="media">
      <div class="media-left">
        <a href="" class="ad-click-event">
          <img [src]="item.imgUrl" alt="ArchitectUI Vue.js Admin Template" class="media-object" style="
            width: 150px;
            height: auto;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);" />
        </a>
      </div>
      <div class="media-body">
        <div class="clearfix" *ngIf="client">
          <p class="pull-right">
            <a class="btn btn-success btn-sm ad-click-event fas fa-shopping-cart" (click)="generateOrder(item)">
              Comprar
            </a>
            <a class="btn btn-success btn-sm ad-click-event fas fa-shopping-cart" (click)="addCart(item)">
              añadir al carrito
            </a>
          </p>
        </div>
        <h4 style="margin-top: 0">
          Producto con envio ─ {{ item.price | currency }}
        </h4>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
</div>
