<mat-card>
  <mat-card-content>
    <div class="header">
      <h2 style="color: #fd7f87; font: blond">Editar Producto</h2>
    </div>
    <form (ngSubmit)="update()" name="loginForm" [formGroup]="loginForm">
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label style="color: #fd7f87">Nombre</mat-label>
          <input formControlName="name" matInput [type]=" hide ? 'name' : 'text'" placeholder="Ingrese el nuevo nombre"
            required />
        </mat-form-field>
      </div>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label style="color: #fd7f87">Descripción</mat-label>
          <input formControlName="desc" matInput placeholder="Ingrese la nueva descripción" required />
        </mat-form-field>
      </div>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label style="color: #fd7f87">Imagen</mat-label>
          <input formControlName="imgForm" matInput placeholder="Ingrese el URL de la nueva imagen" required />
        </mat-form-field>
      </div>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label style="color: #fd7f87">Precio</mat-label>
          <input type="number" formControlName="price" matInput placeholder="Ingrese el nuevo precio" required />
        </mat-form-field>
      </div>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label style="color: #fd7f87">Stock</mat-label>
          <input type="number" formControlName="stock" matInput placeholder="Ingrese el nuevo stock" required />
        </mat-form-field>
      </div>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label style="color: #fd7f87">Categoria</mat-label>
          <mat-select formControlName="cate" required>
            <mat-option value=1>Ojos</mat-option>
            <mat-option value=3>Labios</mat-option>
            <mat-option value=2>Rostro</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button mat-flat-button style="background-color: #fd7f87; color:#fff">Guardar</button>
    </form>
    <div>
      <br>
    <button mat-flat-button style="background-color: #a01c25; color:#fff" (click)="discard()">Descartar</button>
  </div>
  </mat-card-content>
</mat-card>
