
<div class="header">
  <h3 style="color: #fd7f87; font: blond">Editar Producto</h3>
</div>
<form (submit)="add()" name="form" [formGroup]="form" style="align-items: center;">
    <div class="emailInput">
    <mat-form-field class="full-width" appearance="outline">
    <mat-label style="color: #fd7f87">Nombre</mat-label>
      <input formControlName="name" matInput [type]=" hide ? 'name' : 'text'" placeholder="Ingrese el  nombre"required />
    </mat-form-field>
  </div>
  <div class="emailInput">
    <mat-form-field class="full-width" appearance="outline">
    <mat-label style="color: #fd7f87">Descripción</mat-label>
      <input formControlName="description" matInput placeholder="Ingrese la descripción" required />
    </mat-form-field>
  </div>
  <div class="emailInput">
    <mat-form-field class="full-width" appearance="outline">
    <mat-label style="color: #fd7f87">Precio</mat-label>
      <input formControlName="price" matInput placeholder="Ingrese el precio" required />
    </mat-form-field>
  </div>
    <div class="emailInput">
      <h4 style="color:#fd7f87">Ingrese la categoria del producto: 1 para Ojos, 2 para Rostro y 3 para labios</h4>
      <mat-form-field class="full-width" appearance="outline">
      <mat-label style="color: #fd7f87">Categoria</mat-label>
        <input formControlName="categoria" matInput placeholder="Ingrese la categoria: 1 para ojos, 2 para rostro, 3 para labios " required />
      </mat-form-field>
    </div>
    <div class="emailInput">
      <mat-form-field class="full-width" appearance="outline">
      <mat-label style="color: #fd7f87">Stock</mat-label>
              <input formControlName="stock" matInput placeholder="Ingrese el stock " required />
      </mat-form-field>
    </div>
    <div class="emailInput">
      <mat-form-field class="full-width" appearance="outline">
      <mat-label style="color: #fd7f87">URL Imagen</mat-label>
              <input formControlName="imgUrl" matInput placeholder="Ingrese el URL de la imagen(imgbb) " required />
      </mat-form-field>
    </div>
  <button mat-flat-button style="background-color: #fd7f87; color:#fff">Guardar</button>
</form>
<button mat-flat-button style="background-color: #a01c25; color:#fff"(click)="discard()">Descartar</button>
